<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Epic Counting Calories</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active"><a href="/countingCal">alimentos diários</a></li>
          <li><a href="#">calorias concluídas</a></li>
          <li><a href="#">usuários</a></li>
        </ul>
      </div>
    </nav>

    <main class="container">
      <div class="card-panel purple lighten-2" th:if="${success}" th:text="${success}"></div>
      <div class="card-panel red white-text" th:if="${error}" th:text="${error}"></div>
      <h2>Lista de calorias diárias</h2>

      <div class="row">
        <div class="col s12 m6 l4" th:each="counting : ${countingCal}">
          <div class="card pink darken-1">
            <div class="card-content white-text">
              
              <span class="card-title" th:text="${counting.nome}"></span>
               <p th:text="${counting.descricao}"></p>
               qtd:<p th:text="${counting.qtd}"></p> 
              <span data-badge-caption="calorias" class="badge pink white-text" th:text="${counting.calorias}"></span>
            </div>
            <div class="card-action">
              <a th:href="${'/countingCal/delete/' + counting.id}" class="btn purple">
                <i class="material-icons">delete</i>
            </a>
              
            </div>
          </div>
        </div>
      </div>
    </main>

  </body>
</html>
